<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="shuttle">
      <section name="projection"
               type="Shuttle.Recall.Sql.EventProcessing.ProjectionSection, Shuttle.Recall.Sql.EventProcessing" />
    </sectionGroup>
  </configSections>

  <shuttle>
    <projection
      eventStoreConnectionStringName="EventStore"
      eventProjectionConnectionStringName="EventStoreProjection" />
  </shuttle>

  <connectionStrings>
    <clear />
    <add name="EventStore"
         connectionString="server=.\sqlexpress;database=Shuttle;integrated security=SSPI;"
         providerName="System.Data.SqlClient" />
    <add name="EventStoreProjection"
         connectionString="server=.\sqlexpress;database=ShuttleProjection;integrated security=SSPI;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>